/* .slidev-code {
  font-size: 1em !important;
  line-height: 1.4em !important;
} */

h6 {
  text-transform: initial !important;
  font-weight: 400 !important;
  letter-spacing: 0 !important;
}

.dark #slide-content {
  background-color: black !important;
}

/* Transitions */
.slidev-vclick-target {
  transition: opacity 400ms ease;
}

.slidev-vclick-hidden {
  opacity: 0;
  pointer-events: none;
}

/* DevTools Logo Animation */
.nuxt-devtools-logo.slidev-vclick-target {
  transition: all 600ms cubic-bezier(0.34, 1.56, 0.64, 1);
  transition-delay: 500ms;
}
.nuxt-devtools-logo.slidev-vclick-hidden {
  transform: scale(0.2);
}

iframe {
  background: black;
}
