html.dark {
  --prism-background: #3335;
}

h6 {
  text-transform: initial !important;
  font-weight: 400 !important;
  letter-spacing: 0 !important;
}

.dark #slide-content {
  background-color: black !important;
}

/* Transitions */
.slidev-vclick-target {
  transition: opacity 400ms ease;
}

.slidev-vclick-hidden {
  opacity: 0;
  pointer-events: none;
}

/* DevTools Logo Animation */
.nuxt-devtools-logo.slidev-vclick-target {
  transition: all 600ms cubic-bezier(0.34, 1.56, 0.64, 1);
  transition-delay: 500ms;
}
.nuxt-devtools-logo.slidev-vclick-hidden {
  transform: scale(0.2);
}

iframe {
  background: black;
}

/* ---- */

@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.animate-scale {
  animation: scale 4s infinite;
  animation-delay: 10s;
  animation-timing-function: ease-in-out;
}
